@charset "UTF-8";
body {
  background-color: #142030;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #8f9bad;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.sticky + .content {
  padding-top: 102px;
}

.list-group a {
  color: #fff;
  text-decoration: none;
}
.list-group a:hover {
  color: #dc3445;
}

nav {
  background-color: #142030;
  z-index: 15;
  transition: 0.6s;
}
nav .nav-item {
  position: relative;
}
nav .nav-item .nav-link-sub_item {
  display: none;
  position: absolute;
  width: 200px;
  background-color: #fff;
  border-radius: 0;
  z-index: 20;
}
nav .nav-item .nav-link-sub_item a {
  display: block;
  padding: 10px;
  color: #142030;
  font-size: 14px;
  text-decoration: none;
  transition: 0.5s;
  border-bottom: 1px solid #142030;
}
nav .nav-item .nav-link-sub_item a:hover {
  color: #dc3445;
  padding-left: 20px;
  transition: 0.5s;
}
nav .nav-item:hover .nav-link-sub_item {
  display: block;
  transition: 0.5s;
}

.logo {
  font-family: Garamond;
  font-size: 34px;
}
.logo .domain {
  color: #dc3445;
}
.logo a {
  color: #fff;
  text-decoration: none;
}

.bg-grd {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  transition: 0.5s;
}

.bg-grd:hover {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #FFCC70 46%, #C850C0 100%);
  transition: 0.5s;
}

.linked .linked-item {
  color: #fff;
}
.linked .linked-item:hover {
  color: #dc3445;
}
@media only screen and (max-width: 600px) {
  .linked {
    display: none;
  }
}

.navbar-custom {
  padding: 5px 40px;
  color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.navbar-custom:hover {
  color: #fff;
}

.nav-link {
  color: #fff;
  font-family: poppins, sans-serif;
  font-size: 14px;
}

.nav-link:hover {
  color: #dc3445;
}

.slick-arrow {
  background-color: transparent;
  border: none;
  color: #8f9bad;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  z-index: 10;
  border: 3px solid #8f9bad;
  padding: 10px;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .slick-arrow {
    top: 60%;
  }
}

.slick-arrow:hover {
  background-color: #8f9bad;
  color: #142030;
}

.pull-left {
  left: 0;
}

.pull-right {
  right: 0;
}

.slick-dots {
  list-style-type: none;
}
.slick-dots li {
  display: none;
  /* more CSS */
}

.scale-zoom {
  cursor: pointer;
  transition: 0.6s;
  width: 100%;
}

.scale-zoom:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

.new-posts .new-item {
  position: relative;
  font-size: 14px;
  height: 540px;
  width: 100%;
}
.new-posts .new-item .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 540px;
  background-position: center center;
  opacity: 0.4;
  width: 100%;
}
.new-posts .new-item .content {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: 5px;
  margin-bottom: 10px;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.new-posts .new-item .content .name {
  margin-top: 10px;
}
.new-posts .new-item .content .name a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
  width: 60%;
}
.new-posts .new-item .content .name a:hover {
  color: #dc3445;
}
@media only screen and (max-width: 1000px) {
  .new-posts .new-item .content {
    top: 40%;
    width: 80%;
    margin-top: 10px;
  }
  .new-posts .new-item .content .name a {
    font-size: 24px;
  }
}
@media only screen and (max-width: 800px) {
  .new-posts .new-item .content {
    width: 95%;
    top: 30%;
  }
  .new-posts .new-item .content .name a {
    font-size: 24px;
    width: 95%;
  }
}

.n-auth,
.n-content {
  color: #8f9bad;
  font-size: 14px;
}

.n-img {
  overflow: hidden;
}

.n-content {
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  margin: 10px 0;
}

.n-name a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.n-name a:hover {
  color: #dc3445;
}

.title-span::after {
  display: block;
  margin-left: 10px;
  content: "͞";
}

.p-item {
  font-size: 14px;
  color: #8f9bad;
}
.p-item .p-img {
  height: 200px;
  background-position: center center;
  overflow: hidden;
}
.p-item .p-author {
  text-align: left;
}
.p-item a {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}
.p-item a:hover {
  color: #dc3445;
}
.p-item .p-content {
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  width: 100%;
  margin: 10px 0;
}

.p-list .l-img {
  overflow: hidden;
}
.p-list .l-content .l-name {
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  margin: 10px 0;
}
.p-list .l-content .l-name a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.p-list .l-content .l-name a:hover {
  color: #dc3445;
}
.p-list .l-content .date {
  font-size: 14px;
  color: #8f9bad;
}

/*# sourceMappingURL=app.css.map */
